<%= link_to "New property", new_property_path, class: "btn btn-outline-primary mt-3 mb-3 float-end" %>
<h1 class="mt-3 mb-3 h3">Properties</h1>
<div class="container">
  <div class="row">
    <% @properties.each do |property| %>
    <div class="col-lg-6 mt-3 mb-3 border">
      <% if property.images.attached? %>
      <%= image_tag property.images.first %>
      <% end %>
    </div>
    <div class="col-lg-6 mt-3 mb-3 border">
      <p class="h6 mt-3 mb-3">
       <strong>Property Name : </strong> <%= property.name %><br>
       <strong>Property Address : </strong> <%= property.address %><br>
       <strong>Property Price : </strong> <%= property.price %><br>
       <strong>Rooms : </strong> <%= property.rooms %><br>
       <strong>Bathrooms : </strong> <%= property.bathrooms %><br>
     </p>
     <div class="mt-3 mb-3">
       <%= link_to 'Show', property, class:"btn btn-primary btn-sm" %>
       <%= link_to 'Edit', edit_property_path(property), class: "btn btn-primary btn-sm" %>
       <%= link_to 'Delete', property_path(property), data: {turbo_method: :delete }, class: "btn btn-primary btn-sm" %>
     </div>
   </div>
   <% end %>
 </div>
</div>

