<%= link_to "New property", new_property_path, class: "btn btn-outline-primary mt-3 mb-3 float-end" %>
<h1 class="mt-3 mb-3 h3">Properties</h1>
<div class="container">
  <table class="table table-striped">
    <thead>
      <th>Property Name</th>
      <th>Property Address</th>
      <th>Property Price</th>
      <th>Rooms</th>
      <th>Bathrooms</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <% @properties.each do |property| %>
      <tr>
        <td><%= property.name %></td>
        <td><%= property.address %></td>
        <td><%= property.price %></td>
        <td><%= property.rooms %></td>
        <td><%= property.bathrooms %></td>
        <td>
         <%= link_to 'Show', property, class:"btn btn-primary btn-sm" %>
         <%= link_to 'Edit', edit_property_path(property), class: "btn btn-primary btn-sm" %>
         <%= link_to 'Delete', property_path(property), data: {turbo_method: :delete }, class: "btn btn-primary btn-sm" %>
       </td>
     </tr>
     <% end %>
   </tbody>
 </table>
</div>

