 <li class="nav-item">
  <%= link_to users_path, class:"nav-link active" do  %>
  <i class="fa-solid fa-house me-2"></i>
  <span>Accounts</span>
  <% end -%>
</li>
<li class="nav-item">
  <%= link_to properties_path, class:"nav-link active" do  %>
  <i class="fa-solid fa-file me-2"></i>
  <span>Properties</span>
  <% end -%>
</li>
<li class="nav-item">
  <%= link_to posts_path, class:"nav-link active" do  %>
  <i class="fa-solid fa-blog me-2"></i>
  <span>Blog Posts</span>
  <% end -%>
</li>
<li class="nav-item">
  <%= link_to profile_path(current_user), class:"nav-link active" do  %>
  <i class="fa-solid fa-rectangle-ad me-2"></i>
  <span>Advertisment</span>
  <% end -%>
</li>
<hr>
<li class="nav-item">
  <%= link_to profile_path(current_user), class:"nav-link active" do  %>
  <i class="fa-solid fa-user me-2"></i>
  <span>My Profile</span>
  <% end -%>
</li>

    