<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <% if current_user.admin? %>
        <%= render "shared/admin" %>
        <% else %>
        <%= link_to dashboard_path, class:"nav-link active" do  %>
        <i class="fa-solid fa-house me-2"></i>
        <span>Dashboard</span>
        <% end -%>
      </li>
      <li class="nav-item">
        <%= link_to properties_path, class:"nav-link active" do  %>
        <i class="fa-solid fa-file me-2"></i>
        <span>Properties</span>
        <% end -%>
      </li>
      <hr>
      <li class="nav-item">
        <%= link_to profile_path(current_user), class:"nav-link active" do  %>
        <i class="fa-solid fa-user me-2"></i>
        <span>My Profile</span>
        <% end -%>
      </li>
      <% end %>
      <li class="nav-item">
        <%= link_to edit_user_registration_path, class:"nav-link active" do  %>
        <i class="fa-solid fa-gear me-2"></i>
        <span>Account Setting</span>
        <% end -%>
      </li>
    </ul>
  </div>
</nav>